.menu {
    background-color: #000;
}

.menu ul {
    
    display: inline-flex;
    padding: 0;
}

.menu ul li {
    list-style-type: none;
    margin: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

